<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AppDB" value="Data Source=localhost;Initial Catalog=CML;UID=sa;PWD=server;" />
    <add key="GRepo" value="C:\Work\Code\CML\source\web\files\GuidlinesRepo" />
    <add key="DigAssets" value="C:\Work\Code\CML\source\web\files\DigitalAssets" />
    <add key="ConRep" value="C:\Work\Code\CML\source\web\files\Conrep" />
    <add key="MainURL" value="http://localhost:18925/" />
    <add key="SmtpUserName" value="infompn2015@gmail.com" />
    <add key="SmtpPassword" value="omnificence123" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
  </appSettings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="case1.html" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
